.glasses {
  position: absolute;
  top: 23%;
  left: 12%;
}
.glasses img {
  width: 250px;
}
body {
  background: url(../../public/img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
